.container_input{
    display: flex;
    justify-content: space-between;  
    height: 400px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.rodape{
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.aviso{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0% 5%;
}

.container_codar {
    height: 350px;
    width: 30%;
    justify-content: space-between;
    resize: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 150%;
    background-color: rgb(221, 221, 221);
    border-radius: 8px;
    border: none;
}

.container_decodar {
    height: 350px;
    width: 30%;
    justify-content: space-between;
    resize: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-size: 150%;
    border-radius: 8px;
    border: 1px solid;
}

/*Css dos botões */
.botoes{
    height: 60px;
    padding: 0.5% 5% 0% 5%;
    display: flex;
    background-color: rgb(221, 221, 221);
    justify-content: space-between;

}

.codificar{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    border-color: black;
    color: white;
    background-color: rgb(124, 35, 241);
}

.ccodificar{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    border-color: black;
    color: white;
    background-color: rgb(167, 102, 253);
}

.decodificar{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    border-color: black;
    color: white;
    background-color: rgb(124, 35, 241);
}